@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  background-image: url('/assets/images/bg.jpg');
}

/* i used !important so that i can override the home.componenent.css  */

.title {
  font-family: 'Bungee', cursive;
  font-size: 40px !important;
  margin-top: 30px !important;
  margin-left: 0px !important;
  font-weight: bold;
  color: #56bfdf;
  width: 100% !important;
}

.sub-desc {
  font-family: 'Roboto', monospace;
  font-size: 15px;
  color: #56bfdf;
  margin-left: 5%;
  margin-top: 2%;
  right: 0 !important;
  width: 100% !important;
}

.topImage {
  position: fixed;
  max-width: 70%;
  top: -30%;
  left: 30.5%;
  bottom: 0;
}

.rightTopImage {
  position: fixed;
  max-width: 55%;
  left: 77%;
  top: -11%;
}

.mobile-app {
  margin-top: 21%;
}

.mobile-app .form-title {
  text-transform: uppercase;
  position: relative;
  margin-left: 74.5% !important;
  margin-bottom: 2%;
  font-family: 'Roboto Mono', monospace;
}

.custome-file-input {
  position: absolute !important;
  right: 4% !important;
  border: 1px solid black;
  border-radius: 5px;
}

.button_cont {
  position: relative;
  right: 1% !important;
  float: right !important;
  max-width: 100px !important;
  margin-top: 2% !important;
}

.submit_button {
  font-size: 10px;
  text-transform: uppercase;
  background-color: #56bfdf;
  color: white;
  padding: 10px 20px;
}

.files {
  position: absolute;
  max-width: 4%;
  left: 68.5%;
  bottom: 50%;
}

/* Footer */
.testimony {
  margin-left: 15%;
  bottom: 25%;
  position: absolute;
}

.boy-testimony {
  position: absolute;
  width: 10%;
  top: 75.5%;
  left: 150px;
}

.girl-testimony {
  position: absolute;
  width: 12%;
  top: 75%;
  left: 320px;
}

.straight-dots {
  position: fixed;
  max-width: 25%;
  left: 69.5%;
  top: 55%;
}

.dotted {
  max-width: 22%;
  position: absolute;
  left: 50%;
  bottom: 12%;
}

.directory {
  position: absolute;
  background-image: url('/assets/images/directory.png');
  background-repeat: no-repeat;
  height: 13%;
  width: 6.5%;
  margin-left: 89% ;
  margin-top: 8% ;
  border: none;
}

.sun {
  position: fixed;
  max-width: 22%;
  left: 57%;
  top: 83%;
}

.blue-waves {
  position: fixed;
  max-width: 35%;
  left: 80%;
  top: 83%;
}