<main class="terms-wrapper">
    <div class="container">
        <div class="landing-section">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-7 landing-section-firstContent">
                        <h2 class="ct-sectionHeader--type2">Validation of morphological analysis software <small>PAYAMAN</small></h2>
                        <div id="article-main-content2">
                            <div class="row">
                                <div class="col-lg-6 col-lg-push-6 text-center-tablet text-center">
                                    <img alt="VMAS" src="https://www.solodev.com/assets/landing-page/mobile-app-graphic.png">
                                </div>
                                <div class="col-lg-6 col-lg-pull-6">
                                    <p class="ct-u-paddingBottom20">Alright kasi LSA is a type of assessment that plays a huge role olin our profession.</p>
                                    <p class="ct-u-paddingBottom20">The upper batch made a protocol that allows classification of utterances and can make it easier for us to understand a patients skills in terms of speech. </p>
                                    <p class="ct-u-paddingBottom30">However its limited to manual transcription as in hand written lahat. So our aim or at least the thesis is to automate that hence the software</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="col-md-5 mobile-app-column">
                        <div class="mobile-app" id="formContainer2">
                            <h2 class ="form-title text-center">Insert word file here</h2>
                            <form name="contentForm" enctype="multipart/form-data" method="post" action="/resources/case-studies/are-you-part-of-the-app-majoritya-.stml">
                                <div class="formAside">
                                    <div class="form-group">
                                        <input type="file" id="docpicker" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                    </div>
                                    <div class="text-center ct-u-paddingTop30">
                                        <button type="submit" class="btn btn-small btn-motive">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>